[Desktop Entry]
Name=AstralNG
Comment=AstralNG desktop client
Exec=/usr/bin/astral %u
TryExec=/usr/bin/astral
Icon=astral
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
X-GNOME-UsesNotifications=true
Keywords=VPN;Network;Proxy;
